<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Add New Job</title>
 <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">
 <section class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Add New Job</h1>
    <form action="/addJob" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="jobTitle">
          Job Title
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="jobTitle" type="text" placeholder="Job Title" name="jobTitle">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="jobDescription">
          Job Description
        </label>
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="jobDescription" name="jobDescription" placeholder="Job Description"></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Add Job
        </button>
      </div>
    </form>
    <h2 class="text-2xl font-bold mb-4">Existing Jobs</h2>
    <ul class="space-y-4">
      {% for job in jobs %}
      <li class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h3 class="text-xl font-bold mb-2">{{ job.job_name }}</h3>
        <p class="text-gray-700">{{ job.job_description }}</p>
        <a href="{{ url_for('result', description=job.job_description) }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Filter Candidates</a>
      </li>
      {% endfor %}
    </ul>
 </section>
</body>
</html>
